
	h2, h1{
		text-align: center;
	}
	.header-container{
		width:80%;
		margin-left:auto;
		margin-right:auto;
		background: url('../image/background.jpg') no-repeat center fixed; 
		color:white;
		display: grid;
		
	}
	img {
		height:150px;
		width:150px;
		margin-left:auto;
		margin-right:auto;
	}
	.body-container{	
		height:100%;
		width:80%;
		margin-left:auto;
		margin-right:auto;
		display: grid;
		
	}
	.personal-information{
		background:lightblue;
	}
	.quote-container{
		text-align: center;
		color:white;
		background: url('../image/background.jpg') no-repeat center fixed; 
	}
	table {
	    border-collapse: collapse;
	    border-spacing: 0;
	    width: 100%;
}

	th, td {
	    text-align: left;
	    padding: 16px;
	}
	
	tr:nth-child(even) {
	    background-color: #f2f2f2
	}
	