<head>
<style>

	html{
		background:black; 
	  	background-size: cover;
	}
	img {
	   display: block;
	   margin-left: auto;
	   margin-right: auto;
	   
	   hight:20%;
	   width:20%;
	}
	h2, h1{
		text-align: center;
	}
	.body-container{	
		height:20%;
		width:80%;
		margin-left:auto;
		margin-right:auto;
		margin:center;
		display: grid;
		
	}
	.contact-information{
		background: url('./image/background.jpg') no-repeat center fixed; 
		color:white;
	}
	.personal-information{
		grid-gap: 2px;
		background:lightblue;
		
	}
	.quote-container{
		text-align: center;
		color:white;
		background: url('./image/background.jpg') no-repeat center fixed; 
		front-size:10px;
	}
	table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

	th, td {
	    text-align: left;
	    padding: 16px;
	}
	
	tr:nth-child(even) {
	    background-color: #f2f2f2
	}
	
</style>
</head>